@import url('https://fonts.googleapis.com/css?family=Armata');
@import url('https://fonts.googleapis.com/css?family=Aldrich');
body {
    margin: 0;
    font-family: 'Armata', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Aldrich', sans-serif
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    text-underline: none;
    color: inherit;
}